/* 폰트 */
@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cinzel&family=Libre+Barcode+39+Text&family=Londrina+Shadow&display=swap');
/* main-banner pattern :
출처 <a href="https://kr.freepik.com/free-vector/flat-argyle-pattern_20912397.htm#query=patterns&position=41&from_view=search&track=sph">Freepik</a>*/
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* HOME 전체 */
.home {
    width: 100%;
    text-align: center;
}
h2 {
    font-family: 'Cafe24ClassicType-Regular';
    font-size: 4rem;
    color: rgb(240, 81, 54);
    margin-bottom: 0;
}
h3 {
    font-size: 1.5rem;
    color: rgb(240, 113, 102);
    margin: 10px 0;
}

/* 메인 배너 main-back */
/* 메인 배너 background : relative */
.main-banner {
    border-top: 1px solid black;
    overflow: hidden;
}
.main-back {
    position: relative;
    width: 100%; height: calc(100vh - 200px);
}

/* 메인 배너 이미지 main-banner-img-wrap, main-banner-text-pop */
.main-banner-img-wrap {
    width: 100vw;
    margin: auto;
    position: absolute;
    left: 7%; right: 0%;
    bottom: calc(-10vh - 10px);
}
.main-banner-img-wrap>img {
    height: 90vh; width: auto; 
    min-width: 1300px;
}
.main-banner-text-pop {
    max-width: 200px; max-height: 200px;
    width: 100%; height: 100%;
    margin: auto;
    z-index: 10;
    position: absolute;
    right: 18vw;
    bottom: 13vh;
	animation: topbottom 3s ease-in-out infinite;
    transition: all 0.25s;
}
.main-banner-text-pop img {
    width: 100%; height: 100%;
}
@keyframes topbottom {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(30px);
}
	100% {
		transform: translateY(0);
	}
}
.main-banner-text-pop:hover {
    scale: 1.1;
    transition: all 0.25s;
}
.main-banner-text-pop p {
    opacity: 0;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 1px black;
    position: absolute;
    width: 200px;
    top: 15%; left: 0%; right: 0%;
    font-family: 'Cafe24ClassicType-Regular';
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.25s;
}
.main-banner-text-pop:hover p {
    opacity: 1;
    transition: all 0.25s;
}

/* 메인 배너 텍스트 main-banner-text */
.main-banner-text h2,
.main-banner-text h3 {
    margin-top: 0;
    font-family: 'Cafe24ClassicType-Regular';
}
.main-banner-text {
    width: 100%; height: 100%;
    display: flex;
    justify-content: flex-start;
}
.main-banner-text .text-title {
    text-align: left;
    max-width: 50vw; height: auto;
    position: relative;
    z-index: 2;
}
.main-banner-text .text-title h2 {
    position: absolute;
    left: calc(6vw + 70px); top: 60px;
    color: rgb(255, 22, 0);
    font-size: calc(70px + 4vw);
    line-height: calc(70px + 4vw);
    text-shadow: 3px 3px 1px black;
}
.main-banner-text .text-exp {
    position: relative;
}
.main-banner-text .text-exp h3 {
    margin: 0; margin-top: 3vh;
    position: absolute;
    font-size: calc(10px + 5vw);
    left: 0; top: calc(10vw + 150px);
    text-shadow: 3px 3px 1px black;
    border: 1px solid black;
    background-color: rgb(255, 247, 212);
    padding: 10px; padding-left: calc(6vw + 70px);
    width: 100vw;
    text-align: left;
}

/* 모바일 css */
.main-back-m {
    position: relative;
    width: 100%; height: calc(100vh - 80px);
}
.main-back-m .text-title {
    padding-top: 10vh;
}
.main-back-m .text-title h2,
.main-back-m .text-title h3{
    margin: 0;
    text-align: center;
    z-index: 10;
    position: relative;
}
.main-back-m .text-title h2 {
    font-size: 20vw;
    color: transparent;
    font-family: 'Cafe24Ohsquare';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.main-back-m .text-title h3 {
    color: rgb(255, 22, 0);
    font-size: 15vw;
    font-family: 'Cafe24ClassicType-Regular';
    text-shadow: 3px 3px 1px black;
}
.main-banner-img-wrap-m {
    position: absolute;
    width: 100vw; height: auto;
    left: 0%; right: 0%; top: 5vh;

}
.main-banner-img-wrap-m img {
    width: 100%; height: auto;
    min-height: 725px; min-width: 411px;
}
.main-banner-text-pop-m {
	animation: topbottom 3s ease-in-out infinite;
    position: absolute;
    right: 10vw;
    bottom: 17vh;
}
.main-banner-text-pop-m img {
    width: 150px; height: 150px;
}
.main-banner-text-pop-m p {
    position: absolute;
    color: #fff; text-shadow: 2px 2px 2px black;
    font-weight: bold;
    left: 0%; right: 0%; top: 45px;
}

/* 이벤트/SNS 배너 */
.event-sns-banner {
    border-top: 1px solid black;
    width: 100%; height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 100px 0;
    background-attachment: fixed;
    background-image: url('../img/그라데배경1.png');
    position: relative;
}
.event-sns-banner::before {
    content: "";
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: white;
    opacity: 0.5;
}
.event-sns-banner .event-img-wrap-l {
    position: absolute;
    left: 0; bottom: -5px;
    z-index: -1;
}
.event-sns-banner .event-img-wrap-r {
    position: absolute;
    right: 0;
    bottom: -5px;
    z-index: -1;
}
.event-sns-banner-text {
    position: relative;
    text-align: left;
    display: flex;
    align-items: flex-end;
}
.fruits1-deco>img:first-child {
    position: absolute;
    left: -250px;
    top: -300px;
    z-index: 20;
}
.fruits1-deco>img:last-child {
    position: absolute;
    left: -700px;
    bottom: -300px;
    z-index: 20;
}
.fruits2-deco {
    position: absolute;
    left: 300px;
    top: -80px;
    z-index: 20;
}
.event-sns-banner-text .event-title,
.event-sns-banner-text-m .event-title  {
    position: relative;
}
.event-sns-banner-text .event-title h2,
.event-sns-banner-text-m .event-title h2 {
    margin: 0 0 0 20px;
}
.event-sns-banner-text .event-title div:last-child,
.event-sns-banner-text-m .event-title div:last-child {
    position: absolute;
    left: -4px; top: -4px;
}
.event-sns-banner-text .event-title div:first-child h2,
.event-sns-banner-text-m .event-title div:first-child h2 {
    text-shadow: 1px 1px 1px black;
    color: rgb(255, 245, 198);
}
.event-sns-banner-text .sns-icon,
.event-sns-banner-text-m .sns-icon {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 10px;
}
.event-sns-banner-text .sns-icon div,
.event-sns-banner-text-m .sns-icon div {
    width: 32px;
    height: 32px;
    background-size: cover;
    margin: 0 4px;
    border-radius: 100%;
    padding: 7px;
    border: 1px solid black;
    transition: all 0.5s ;
}
.event-sns-banner-text .sns-icon div:hover {
    background-color: rgb(255, 245, 198);
    transition: all 0.5s ;
    transform: rotate(180deg);
}
.event-sns-banner div .sns-img {
    display: flex;
}
.event-sns-banner div .sns-img .insta-img1,
.event-sns-banner div .sns-img .insta-img2,
.event-slide-wrap {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
}
.event-slide-wrap {
    width: 480px;
    height: 680px;
}
.sns-img .insta-img1 img,
.sns-img .insta-img2 img,
.event-slide-wrap .event-slide {
    width: 100%; height: 100%; position: inherit; z-index: 10;
    border: 1px solid  white;
}
.event-sns-banner div .sns-img .insta-img1 img:nth-child(2),
.event-sns-banner div .sns-img .insta-img2 img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
.event-sns-banner div .sns-img .insta-img1:hover img:nth-child(2),
.event-sns-banner div .sns-img .insta-img2:hover img:nth-child(2) {
    opacity: 1;
    transition: all 0.5s;
}
.event-sns-banner div .sns-img .insta-img1::before,
.event-sns-banner div .sns-img .insta-img2::before,
.event-slide-wrap::before {
    position:absolute;
    width: 100%;
    height: 100%;
    content:'';
    top:-10px;
    left:-10px;
    border: 1px solid black;
    transition: all 0.2s;
}
.event-sns-banner div .sns-img .insta-img1:hover::before,
.event-sns-banner div .sns-img .insta-img2:hover::before {
    top: 10px;
    left: 10px
}
.event-sns-banner div .sns-img .insta-img1::after,
.event-sns-banner div .sns-img .insta-img2::after,
.event-slide-wrap::after {
    position:absolute;
    width: 100%;
    height: 100%;
    content:'';
    top:10px;
    left:10px;
    background:black;
    transition: all 0.2s;
    z-index: 0;
}
.event-sns-banner div .sns-img .insta-img1:hover:after,
.event-sns-banner div .sns-img .insta-img2:hover:after {
    top: -10px;
    left:-10px;
}
/* event mobile */
.event-sns-banner-m {
    border-top: 1px solid black;
    width: 100%; height: 100%;
    background-image: url('../img/그라데배경1.png');
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}
.event-sns-banner-m>div {
    display: flex;
    flex-direction: column;
    align-items: center

}
.event-sns-banner-text-m,
.event-sns-banner-text-m .event-title {
    position: relative;
    margin: auto;
}
.event-sns-banner-text-m .fruits2-deco {
    position: absolute;
    left: 60vw;
    top: 50px;
    z-index: 20;
}
.event-sns-banner-text-m .fruits2-deco img {
    width: 30vw; height: auto;
    max-width: 150px;
}
.event-sns-banner-text-m .event-title {
    margin-bottom: 3vh;
}
.event-sns-banner-text-m .event-title h2 {
    font-size: calc(12vw + 10px);
    text-align: left;
}
.event-slide-wrap-m {
    display: flex;
    justify-content: center;
}
.event-sns-banner-m .sns-img {
    width: 100vw; height: 100vw;
    display: flex;
    flex-direction: column;
    border : 1px solid black;
    box-sizing: border-box;
}
.event-sns-banner-m .sns-img .insta-img1,
.event-sns-banner-m .sns-img .insta-img2 {
    display: flex;
    overflow: hidden;
}
.event-sns-banner-m .sns-img img {
    width: 50%; height: auto;
}

/* 가로 애니메이션 텍스트 */
.text-animated {
    width: 100%; max-width: 100%;
    background-color: rgb(255, 245, 198);
    color: rgb(24, 168, 181);
    border: 1px solid black;
    font-family: 'TheJamsil5Bold';

}
.text-animated .track {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 1s;
    font-size: 4.5rem;
    font-weight:bold;
    color: rgb(24, 168, 181);
}
.text-animated .track p {
    animation: flow 20s linear infinite;
    padding-right: 1.4881vw;
    margin: 20px 0;
}
.text-animated .track p img {
    margin: auto; padding: 15px 0 0 15px;
}
@keyframes flow {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* 메뉴 리스트 */
/* menuslick.css */


/* 가맹 정보 더보기 */
.franchise-contact {
    width: 100%;
    background-color: rgba(182, 238, 234, 0.9);
    margin: auto;  padding: 30px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}
.franchise-contact .franchise-img-wrap-l,
.franchise-contact .franchise-img-wrap-r {
    position: absolute;
}
.franchise-contact .franchise-img-wrap-l {
    left: 0; top: 5px; z-index: -1;
}
.franchise-contact .franchise-img-wrap-r {
    right: 0; top: -7px; z-index: -1;
}
.back-img-wrap-m {
    position: absolute;
    top: -120px; left: 17%; z-index: -1;
}
.franchise-contact .franchise-text h2 {
    width: 450px;
    margin: auto;
    padding: 15px 10px 10px 10px;
    background-color: rgb(240, 113, 102);
    color:  rgb(255, 245, 198);
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 20px; margin-top: 30px;
}
.franchise-contact .franchise-text p {
    margin: 10px 0 50px 0;
}
.franchise-contact .franchise-text a {
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid black;
    border-radius:100px;
    transition: all 0.25s;
    padding: 15px 30px;
}
.franchise-contact .franchise-text a:hover {
    color:rgb(238, 99, 86);
    background-color: rgb(255, 245, 198);
    transition: all 0.25s;
}

/* 공지사항, 뉴스 */
.nn-section {
    width: 100%;
    background-color: rgb(255, 245, 198);
}
.notice-news {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-left: 1px solid black; border-right: 1px solid black;
    background-color: rgb(255, 249, 222);
}
.notice {
    border-right: 1px solid black;
}
.notice>div{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid black;
    height: 110px;
}
.notice>div>div:first-child {
    width: 280px;
    padding: 20px; margin: auto;
}
.notice>div>div:last-child {
    margin: 0;
}
.notice>div>div:last-child>a {
    height: 110px;
    box-sizing: border-box;
    border-left: 1px solid black;
    font-size: 0.8rem;
    margin: 0;
    padding: 52px 10px 44px 10px;
    transition: all 0.25s;
}
.notice>div>div:last-child>a:hover {
    background:  rgba(37, 196, 211, 0.6);
    font-weight: bold;
    transition: all 0.25s;
}
.notice h2, .news h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 40px 0 30px 0;
    border-bottom: 1px solid black;
}
.notice a, .news p {
    font-family: 'EF_watermelonSalad';
    font-size: 1rem;
}
.notice div span,
.news .news-list div span {
    font-size: 0.8rem;
    color:  rgb(240, 113, 102);
}
.news .news-list {
    display: flex;
    justify-content: space-evenly;
}
.news .news-list div {
    display: flex;
    flex-direction: column;
    width: 250px; height: 350px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: rgba(255, 255, 255, 0.3);
}
.news .news-list div img {
    border-bottom: 1px solid black;
}
.news .news-list div p {
    width: 75%; height: 38px; margin: auto;
    text-align: justify;
}
.news .news-list div span {text-align: left; width: 75%; margin: 0 auto;}
.news-more {
    width: 100px;
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.25s;
}
.news-more a {
    font-size: 0.8rem;
}
.news-more:hover {
    background:  rgba(37, 196, 211, 0.6);
    transition: all 0.25s;
}