/* Menu css */
.menu-page {
    width: 100%; height: 100%;
    margin-bottom: 10vh;
}
.menu-page-top {
    width: 100%;
    margin: 0 auto; margin-top: 200px;
    border-top: 1px solid black;
    text-align: center;
    position: relative;
}
.menu-page-top div:nth-child(2) {
    width: 100%; height: 30vh;
    position: absolute;
    left: 0%; right: 0%;
    top: 0%; bottom: 0%;
}
.menu-page-top div:nth-child(2) h2 {
    margin-top: 11vh;
}
.menu-list-top { margin-top: 50px; padding: 0;}
.menu-list-top li {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px 13px 30px;
    background-color: rgb(188, 226, 221);
    border-radius: 50px;
    border: 1px solid black;
    transition: all 0.25s;
}
.menu-list-top li:hover {
    transition: all 0.25s;
    background-color: rgb(255, 245, 198, 0.8);
}
.menu-list-top li:hover a {
    color: rgb(240, 81, 54);
}
.menu-backimg {
    box-sizing: border-box;
    width: 100%; height: 30vh;
    position: relative;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.menu-backimg>img {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -50;
}  

/* MenuContent css */
/* Swiper css */
:root {
    --swiper-theme-color: rgb(131, 201, 191) !important;
    /*
    --swiper-preloader-color: var(--swiper-theme-color);
    --swiper-wrapper-transition-timing-function: initial;
    */
}

.swiper-slide {
    background-color: transparent;
}

.swiper-pagination-progressbar {
    background-color: rgb(227, 239, 240) !important;
    bottom: 0 !important;
}
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: auto !important;
}

/* 나머지 menucontent */
.new-menu h2,
.best-menu h2 {
    margin: 2vh auto 4vh auto;
}

.best-new-menu {
    width: 100%; height: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.new-list-content div:first-child,
.best-list-content div:first-child {
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
}
.new-menulist-ul,
.best-menulist-ul {
    width: 100%; height: auto;
    max-width: 1200px;
}

.menu-content {
    width: 1200px;
    margin: 50px auto 100px auto;
    text-align: center;
}
.sub-menus {
    width: 100%; margin: 0; padding: 0;
}
.sub-menus li {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px 13px 30px;
    background-color: rgb(188, 226, 221);
    border-radius: 20px 20px;
    border: 1px solid black;
}
.sub-menus li:hover {
    transition: all 0.25s;
    background-color: rgb(255, 245, 198, 0.8);
}
.sub-menus li:hover a {
    color: rgb(240, 81, 54);
}

/* MenuDetailPage css */
.menu-detail {
    margin-top: 30px;
    background-color: rgb(255, 219, 219);
    border-radius: 40px;
    padding: 20px;
    width: 1200px; height: auto;
    border: 1px solid black;
}
.menulist-ul {
    width: 100%; height: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menulist-li {
    margin: auto;  margin-bottom: 40px;
    width: 100%; height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menulist-li .menu-li-img {
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.menu-explain {
    margin: 0 auto;
    width: 200px; height: 100px;
}
.menu-explain h4 {
    font-size: 1.2rem;
    margin: 10px 0;
    background-color: rgb(255, 245, 198, 0.8);
    border: 1px solid black;
    padding: 10px;
}
.menu-explain p {
    font-size: 0.9rem;
}

/* modal link (li) css */
.list-content {
    position: relative;
}

/* best & new css*/
.list-content div:first-child, .list-content div:nth-child(2){
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
}
.off {
    display: none;
}
.on {
    display: block;
}

/* Modal Page css */
.modal-btn {
    width: 50px; height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: rgb(255, 154, 171);
    color: white;
    margin: 0; 
    position: absolute;
    right: 5vw; top: 5vh;
    cursor: pointer;
}
.modal-explain {
    display: flex;
    justify-content: space-evenly;
    margin: 10vh 0;
    width: 100%; min-width: 730px;
}
.modal-explain>div:first-child {
    width: 30vw; height: 30vw;
    max-width: 300px; max-height: 300px;
    border: 1px solid black;
    border-radius: 100%;
    overflow: hidden; margin: auto; margin-right: 0;
}
.modal-explain>div img {
    width: 100%; height: 100%;

}
.modal-explain .modal-m-e {
    width: 60%; min-width: 380px; height: auto;
    margin: auto;
}
.modal-explain .modal-m-e table {
    font-size: 0.9rem;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border: 1px solid black;
    width: 100%;
}
.modal-explain .modal-m-e table thead {
    border-right: 1px solid black;
    background: #e03d66;
}
.modal-explain .modal-m-e table thead th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: white;
}

.modal-explain .modal-m-e table tbody td {
    width: 350px;
    padding: 10px; margin: auto;
    vertical-align: center;
    border-right: 1px solid black;
    background-color: white;
    font-size: 0.8rem;
}