.menu {
  width: 100%; height: 100%;
  padding: 80px 0;
  background-image: url('../img/그라데배경2.png');
  background-size: cover;
  position: relative;
}
.menu::before {
  content: "";
  width: 100%; height: 100%;
  background-color: white;
  opacity: 0.4;
  position: absolute;
  z-index: 0;
  left: 0; top: 0;
}
.menu h2 {
  position: relative;
  width: 300px; margin: auto;
  padding: 15px 10px 10px 10px;
  background-color: rgb(89, 219, 213);
  border: 1px solid black;
  border-radius: 100%;
}
.menu p {
  position: relative;
}
.menu-img-boxs {
  width: 100%;
  margin: auto; margin-top: 50px;
}

.menu-list-wrap {
  width: 100%; height: 100%;
  border: 1px solid black;
  background-color: rgba(247, 255, 255, 0.7);
}
.menu-list-wrap>div {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.menu-box {
  margin: 0 10px;
}
.menu-box div h3 {
  position: relative;
  margin: 0; padding: 10px 0;
  color:  rgb(243, 100, 87);
  box-sizing: border-box;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.menu-image {
  box-sizing: border-box;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: white;
  border: 1px black solid;
  border-radius: 100% 100% 0 0;
}
.menu-image img {
  margin-top: 12px;
  transition: all 0.25s ;
}

.explain-over {
  font-weight: bold;
  font-family: 'S-CoreDream-3Light';
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background-color:rgba(245, 255, 250, 0.9);
  opacity: 0;
  transition: all 0.25s ;
}
.explain-over p {
  padding-top: 60px;
  width: 148px;
  margin: 0 auto 15px auto;
  font-size: 1rem;
}
.explain-over span {
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px 10px;
  background-color: aliceblue;
}
.menu-box:hover .explain-over {
  transition: all 0.25s ;
  opacity: 1;
}
.menu-box:hover .menu-image img {
  scale: 1.2;
  transition: all 0.25s ;
}

